table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 0 4px;
}

td {
  width: 33%;
  padding: 0 4px;
}

tr {
  height: 40px;
}

table {
  margin: 2px;
  // width: 100%;
}

.left {
  text-align: left;
}

.scores {
  border: 1px solid black;
}
